In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/shark-tank-india-dataset/Shark Tank India Dataset.csv

# Step 1: Import Libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [3]:
# Load the dataset
df = pd.read_csv('/kaggle/input/shark-tank-india-dataset/Shark Tank India Dataset.csv')

In [4]:
# Display the first few rows of the dataset
df.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [5]:
df.sample(5)

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
29,10,30,EventBeep,Student Community App,1,30.0,2.0,1500.00,30.0,3.0,...,1,0,1,0,0,1,0,3,10.0,1.00
97,30,98,Scholify,Scholarship Platform,0,50.0,7.5,666.67,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.00
102,32,103,Thea and Sid,Proposal Solutions,0,80.0,7.0,1142.86,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.00
77,24,78,Nuskha Kitchen,Homemade Foods,0,20.0,10.0,200.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.00
12,5,13,Revamp Moto,E-Bike,1,100.0,1.0,10000.00,100.0,1.5,...,0,1,1,0,0,0,0,2,50.0,0.75

# Step 2: Exploring the Data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   episode_number         117 non-null    int64
 1   pitch_number           117 non-null    int64
 2   brand_name             117 non-null    object
 3   idea                   117 non-null    object
 4   deal                   117 non-null    int64
 5   pitcher_ask_amount     117 non-null    float64
 6   ask_equity             117 non-null    float64
 7   ask_valuation          117 non-null    float64
 8   deal_amount            117 non-null    float64
 9   deal_equity            117 non-null    float64
 10  deal_valuation         117 non-null    float64
 11  ashneer_present        117 non-null    int64
 12  anupam_present         117 non-null    int64
 13  aman_present           117 non-null    int64
 14  namita_present         117 non-null    int64
 15  vineeta_present        117 non-null    int64
 16  peyush_present         117 non-null    int64
 17  ghazal_present         117 non-null    int64
 18  ashneer_deal           117 non-null    int64
 19  anupam_deal            117 non-null    int64
 20  aman_deal              117 non-null    int64
 21  namita_deal            117 non-null    int64
 22  vineeta_deal           117 non-null    int64
 23  peyush_deal            117 non-null    int64
 24  ghazal_deal            117 non-null    int64
 25  total_sharks_invested  117 non-null    int64
 26  amount_per_shark       117 non-null    float64
 27  equity_per_shark       117 non-null    float64
dtypes: float64(8), int64(18), object(2)
memory usage: 25.7+ KB

In [7]:
df.columns

Index(['episode_number', 'pitch_number', 'brand_name', 'idea', 'deal',
       'pitcher_ask_amount', 'ask_equity', 'ask_valuation', 'deal_amount',
       'deal_equity', 'deal_valuation', 'ashneer_present', 'anupam_present',
       'aman_present', 'namita_present', 'vineeta_present', 'peyush_present',
       'ghazal_present', 'ashneer_deal', 'anupam_deal', 'aman_deal',
       'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal',
       'total_sharks_invested', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

In [8]:
df.describe()

,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,18.735043,59.000000,0.555556,319.854709,5.188034,3852.462479,31.982915,8.963504,467.104872,0.837607,...,0.179487,0.205128,0.239316,0.188034,0.128205,0.230769,0.059829,1.230769,18.132481,5.583590
std,10.070778,33.919021,0.499041,2767.842777,3.892121,11931.601957,36.687391,13.106769,919.988864,0.370397,...,0.385410,0.405532,0.428501,0.392420,0.335756,0.423137,0.238190,1.410457,23.588682,10.803799
min,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,30.000000,0.000000,45.000000,2.500000,666.670000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,59.000000,1.000000,50.000000,5.000000,1250.000000,25.000000,3.000000,100.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,1.250000
75%,27.000000,88.000000,1.000000,80.000000,7.500000,2857.140000,50.000000,15.000000,500.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,25.000000,6.000000
max,35.000000,117.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

In [9]:
df.isnull().sum()

episode_number           0
pitch_number             0
brand_name               0
idea                     0
deal                     0
pitcher_ask_amount       0
ask_equity               0
ask_valuation            0
deal_amount              0
deal_equity              0
deal_valuation           0
ashneer_present          0
anupam_present           0
aman_present             0
namita_present           0
vineeta_present          0
peyush_present           0
ghazal_present           0
ashneer_deal             0
anupam_deal              0
aman_deal                0
namita_deal              0
vineeta_deal             0
peyush_deal              0
ghazal_deal              0
total_sharks_invested    0
amount_per_shark         0
equity_per_shark         0
dtype: int64

In [10]:
df[df.duplicated()]

Empty DataFrame
Columns: [episode_number, pitch_number, brand_name, idea, deal, pitcher_ask_amount, ask_equity, ask_valuation, deal_amount, deal_equity, deal_valuation, ashneer_present, anupam_present, aman_present, namita_present, vineeta_present, peyush_present, ghazal_present, ashneer_deal, anupam_deal, aman_deal, namita_deal, vineeta_deal, peyush_deal, ghazal_deal, total_sharks_invested, amount_per_shark, equity_per_shark]
Index: []

[0 rows x 28 columns]

In [11]:
df.shape

(117, 28)

# 1. Total Episodes

In [12]:
df["episode_number"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35])

# 2. Brands in each Episode

In [13]:
df.groupby(["episode_number"])["brand_name"].count()

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

# 3. Brands participate in Season 1

In [14]:
df["brand_name"].nunique()

117

# 4. No. of Deals

In [15]:
len(df[df["deal"]== 1])

65

# 5. Deals Amount

In [16]:
df1 = df[df["deal"] == 1]
df[["brand_name" , "deal_amount"]]

              brand_name  deal_amount
0    BluePine Industries         75.0
1          Booz scooters         40.0
2    Heart up my Sleeves         25.0
3             Tagz Foods         70.0
4         Head and Heart          0.0
..                   ...          ...
112        Green Protein          0.0
113              On2Cook          0.0
114        Jain Shikanji         40.0
115                Woloo          0.0
116         Elcare India          0.0

[117 rows x 2 columns]

#  6. Deals Equity

In [17]:
df1 = df[df["deal"] == 1]
df[["brand_name" , "deal_equity"]]

              brand_name  deal_equity
0    BluePine Industries        16.00
1          Booz scooters        50.00
2    Heart up my Sleeves        30.00
3             Tagz Foods         2.75
4         Head and Heart         0.00
..                   ...          ...
112        Green Protein         0.00
113              On2Cook         0.00
114        Jain Shikanji        30.00
115                Woloo         0.00
116         Elcare India         0.00

[117 rows x 2 columns]

# 7. Pitcher ask Amount

In [18]:
df1 = df[df["deal"] == 1]
df[["brand_name" , "pitcher_ask_amount"]]

              brand_name  pitcher_ask_amount
0    BluePine Industries                50.0
1          Booz scooters                40.0
2    Heart up my Sleeves                25.0
3             Tagz Foods                70.0
4         Head and Heart                50.0
..                   ...                 ...
112        Green Protein                60.0
113              On2Cook               100.0
114        Jain Shikanji                40.0
115                Woloo                50.0
116         Elcare India               100.0

[117 rows x 2 columns]

# 8. Pitcher ask Equity

In [19]:
df1 = df[df["deal"] == 1]
df[["brand_name" , "ask_equity"]]

              brand_name  ask_equity
0    BluePine Industries         5.0
1          Booz scooters        15.0
2    Heart up my Sleeves        10.0
3             Tagz Foods         1.0
4         Head and Heart         5.0
..                   ...         ...
112        Green Protein         2.0
113              On2Cook         1.0
114        Jain Shikanji         8.0
115                Woloo         4.0
116         Elcare India         2.5

[117 rows x 2 columns]

# 9. Pitcher ask Valuation

In [20]:
df1 = df[df["deal"] == 1]
df[["brand_name" , "ask_valuation"]]

              brand_name  ask_valuation
0    BluePine Industries        1000.00
1          Booz scooters         266.67
2    Heart up my Sleeves         250.00
3             Tagz Foods        7000.00
4         Head and Heart        1000.00
..                   ...            ...
112        Green Protein        3000.00
113              On2Cook       10000.00
114        Jain Shikanji         500.00
115                Woloo        1250.00
116         Elcare India        4000.00

[117 rows x 2 columns]

# 10. How many pitches were made in each episode? Show the average number of pitches per episode.

In [21]:
pitches_per_episode = df.groupby('episode_number')['pitch_number'].nunique()
average_pitches_per_episode = pitches_per_episode.mean()
print("\nAverage number of pitches per episode:", average_pitches_per_episode)

Average number of pitches per episode: 3.342857142857143

# 11. What is the percentage of deals done vs. not done?

In [22]:
deal_percentage = df['deal'].mean() * 100
print("\nPercentage of deals done:", deal_percentage)

Percentage of deals done: 55.55555555555556

# 12. Which shark participated the most in deals?

In [23]:
sharks_columns = [col for col in df.columns if '_deal' in col]
sharks_deals = df[sharks_columns].sum().sort_values(ascending=False)
most_active_shark = sharks_deals.idxmax().split('_')[0]
print("\nMost active shark in deals:", most_active_shark)

Most active shark in deals: aman

# 13. What is the average deal amount?

In [24]:
average_deal_amount = df['deal_amount'].mean()
print("\nAverage deal amount:", average_deal_amount)

Average deal amount: 31.982915042735044

# 14. How many times was each shark present during the pitching?

In [25]:
sharks_present_columns = [col for col in df.columns if '_present' in col]
sharks_present = df[sharks_present_columns].sum()
print("\nNumber of times each shark was present during the pitching:")
print(sharks_present)

Number of times each shark was present during the pitching:
ashneer_present     98
anupam_present     117
aman_present        98
namita_present     106
vineeta_present     66
peyush_present      88
ghazal_present      26
dtype: int64

# 15. What is the total amount invested per shark?

In [26]:
total_invested_per_shark = df.groupby('total_sharks_invested')['amount_per_shark'].sum()
print("\nTotal amount invested per shark:")
print(total_invested_per_shark)

Total amount invested per shark:
total_sharks_invested
0       0.000000
1    1131.000000
2     560.500000
3     300.000017
4      60.000253
5      70.000000
Name: amount_per_shark, dtype: float64

# 16. How many deals did each shark participate in on average?

In [27]:
average_deals_per_shark = df[sharks_deals.index].mean()
print("\nAverage deals each shark participated in:")
print(average_deals_per_shark)

Average deals each shark participated in:
aman_deal       0.239316
peyush_deal     0.230769
anupam_deal     0.205128
namita_deal     0.188034
ashneer_deal    0.179487
vineeta_deal    0.128205
ghazal_deal     0.059829
dtype: float64

# 17. Is there any correlation between the amount asked and the deal amount?

In [28]:
correlation = df['pitcher_ask_amount'].corr(df['deal_amount'])
print("\nCorrelation between amount asked and deal amount:", correlation)

Correlation between amount asked and deal amount: -0.08071937892900416

# 18. Which episode had the highest deal amount?

In [29]:
episode_highest_deal = df.loc[df['deal_amount'].idxmax(), 'episode_number']
print("\nEpisode with the highest deal amount:", episode_highest_deal)

Episode with the highest deal amount: 17

# 19. The Most Attracted Idea Accpeted By Sharks:- (All Sharks Deal)

In [30]:
Idea=df[df["total_sharks_invested"]==5]
Idea[["brand_name","idea","total_sharks_invested"]]

               brand_name                 idea  total_sharks_invested
15            Skippi Pops             Ice-Pops                      5
49  Find Your Kicks India       Sneaker Resale                      5
63               IN A CAN        Can Cocktails                      5
79    Sunfox Technologies  Portable ECG Device                      5